In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("london_merged1.csv", na_values=["##","??"]) 
dataset

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,04-01-2015 00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3
1,04-01-2015 01:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3
2,04-01-2015 02:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3
3,04-01-2015 03:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3
4,04-01-2015 04:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3
...,...,...,...,...,...,...,...,...,...,...
17409,03-01-2017 19:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3
17410,03-01-2017 20:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3
17411,03-01-2017 21:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3
17412,03-01-2017 22:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3
17413,03-01-2017 23:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3

In [3]:
dataset.isnull().sum()

timestamp       0
cnt             0
t1              0
t2              0
hum             3
wind_speed      0
weather_code    2
is_holiday      2
is_weekend      1
season          0
dtype: int64

In [4]:
dataset['hum'].fillna(int(dataset['hum'].mean()),inplace=True)
dataset.isnull().sum()

timestamp       0
cnt             0
t1              0
t2              0
hum             0
wind_speed      0
weather_code    2
is_holiday      2
is_weekend      1
season          0
dtype: int64

In [5]:
dataset['weather_code'].fillna(int(dataset['weather_code'].mean()),inplace=True)
dataset.isnull().sum()

timestamp       0
cnt             0
t1              0
t2              0
hum             0
wind_speed      0
weather_code    0
is_holiday      2
is_weekend      1
season          0
dtype: int64

In [6]:
dataset['is_holiday'].fillna(int(dataset['is_holiday'].mean()),inplace=True)
dataset.isnull().sum()

timestamp       0
cnt             0
t1              0
t2              0
hum             0
wind_speed      0
weather_code    0
is_holiday      0
is_weekend      1
season          0
dtype: int64

In [7]:
dataset['is_weekend'].fillna(int(dataset['is_weekend'].mean()),inplace=True)
dataset.isnull().sum()

timestamp       0
cnt             0
t1              0
t2              0
hum             0
wind_speed      0
weather_code    0
is_holiday      0
is_weekend      0
season          0
dtype: int64