In [1]:
import pandas as pd

In [4]:
na_values = ['??','##']
data = pd.read_csv("london_merged1.csv", na_values = na_values )

In [5]:
data

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,1/4/2015 0:00,182,3.0,2.0,93.0,6.0,3,0,1,3
1,1/4/2015 1:00,138,3.0,2.5,93.0,5.0,1,0,1,3
2,1/4/2015 2:00,134,2.5,2.5,96.5,0.0,1,0,1,3
3,1/4/2015 3:00,72,2.0,2.0,100.0,0.0,1,0,1,3
4,1/4/2015 4:00,47,2.0,0.0,93.0,6.5,1,0,1,3
...,...,...,...,...,...,...,...,...,...,...
17409,1/3/2017 19:00,1042,5.0,1.0,81.0,19.0,3,0,0,3
17410,1/3/2017 20:00,541,5.0,1.0,81.0,21.0,4,0,0,3
17411,1/3/2017 21:00,337,5.5,1.5,78.5,24.0,4,0,0,3
17412,1/3/2017 22:00,224,5.5,1.5,76.0,23.0,4,0,0,3
17413,1/3/2017 23:00,139,5.0,1.0,76.0,22.0,2,0,0,3

In [6]:
data.isnull().sum()

timestamp       0
cnt             0
t1              1
t2              1
hum             3
wind_speed      0
weather_code    0
is_holiday      0
is_weekend      0
season          0
dtype: int64

In [8]:
data['t1'].fillna(int(data['t1'].mean()), inplace=True)
data.isnull().sum()

timestamp       0
cnt             0
t1              0
t2              1
hum             3
wind_speed      0
weather_code    0
is_holiday      0
is_weekend      0
season          0
dtype: int64

In [9]:
data['t2'].fillna(int(data['t2'].mean()), inplace=True)
data.isnull().sum()

timestamp       0
cnt             0
t1              0
t2              0
hum             3
wind_speed      0
weather_code    0
is_holiday      0
is_weekend      0
season          0
dtype: int64

In [10]:
data['hum'].fillna(int(data['hum'].mean()), inplace=True)
data.isnull().sum()

timestamp       0
cnt             0
t1              0
t2              0
hum             0
wind_speed      0
weather_code    0
is_holiday      0
is_weekend      0
season          0
dtype: int64