In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("wind_dataset.csv")

In [3]:
data

            DATE   WIND  IND  RAIN  IND.1  T.MAX  IND.2  T.MIN  T.MIN.G
0     1961-01-01  13.67    0   0.2    0.0    9.5    0.0    3.7     -1.0
1     1961-01-02  11.50    0   5.1    0.0    7.2    0.0    4.2      1.1
2     1961-01-03  11.25    0   0.4    0.0    5.5    0.0    0.5     -0.5
3     1961-01-04   8.63    0   0.2    0.0    5.6    0.0    0.4     -3.2
4     1961-01-05  11.92    0  10.4    0.0    7.2    1.0   -1.5     -7.5
...          ...    ...  ...   ...    ...    ...    ...    ...      ...
6569  1978-12-27  14.46    0  16.8    0.0    9.8    0.0    4.0      0.0
6570  1978-12-28  14.33    0  16.0    0.0    9.1    0.0    8.5      8.0
6571  1978-12-29  19.17    0  14.7    0.0    5.0    0.0    3.5      3.2
6572  1978-12-30  18.08    0   4.9    0.0    2.9    0.0    0.3     -0.5
6573  1978-12-31  19.25    0   0.5    0.0    1.2    1.0   -1.5     -3.0

[6574 rows x 9 columns]